.footer{
	background-Color:rgb(184, 0, 0);
	margin-top:350px;
}
/* Define the default link color */
        ul {
            list-style-type: none; /* Remove bullet points */
            padding: 0;
        }

        li {
            margin-bottom: 10px; /* Add some space between items */
        }

        a {
            color: whitesmoke; /* Default color */
            text-decoration: none; /* Remove underline */
        }

        /* Change the link color on hover */
        a:hover {
            color: black; /* Color on hover */
        }
		