*{
	margin:0;
	padding:0;
	
}


.body{

	background-image: url("gg.gif");

}


.main p{
	font-size:50px;
	font-weight: bold;
	
}
.logo{
	float:left;
	height: fit-content;
}

.logo-name{
	float:left;
	color:#d1d1d1;
	margin-top:10px;
	margin-bottom:0;
	
}
.logo-name h5{
	margin-bottom:0;
}
.clear{
	clear:both;
}
.header{
	height: fit-content;
}
.logo img{
	height: 80px;
}
.form{
	
	width:80%;
	margin:0 auto;
	box-sizing:border-box;
	padding:10px;
}
.btns{
	background-color:#b80000;
	width:39%;
}
.btn-item{
	float:left;
	margin:5px;
	border: 8px solid #b80000;
	border-radius: 5px;
}
.menu button{
	color:white;
	background-color:#b80000;
}
button{
	width: 120px;
}
.radio-btn{
	margin:10px;
}
.one,.two,.three{
	height:33.33%;
}
.Border{
	color:white;
	float:left;
	height: 110px;
    width: 18%;
    box-sizing: border-box;
    margin: 15px;
	background-color:#b80000;
	padding:10px;
}
.Borders{
	display:flex;
	justify-content:center;
}
.search{
	text-align:center;
	display:flex;
	justify-content:center;
	background-color:#b80000
	color: white;

	
}

.txt{
	text-align: center;
	color:antiquewhite;
	background-color:#b80000;

}

/* Define the default link color */
        ul {
            list-style-type: none; /* Remove bullet points */
            padding: 0;
        }

        li {
            margin-bottom: 10px; /* Add some space between items */
        }

        a {
            color: #000; /* Default color */
            text-decoration: none; /* Remove underline */
        }

        /* Change the link color on hover */
        a:hover {
            color: #8DBCED; /* Color on hover */
        }
		.footer{
			float:left;
			width:100%;
			display:flex;
			justify-content:center;
		}